<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3><b>Data Scientist in the making...<br> Retail <br> Supply Chain Professional</b></h3>
                {% for network in site.social %}
                    <a href="{{ network.url }}" class="btn-social btn-outline linkb"><i class="fa fa-{{ network.title }} fa-fw fa-2x"></i></a>
                {% endfor %}
            </div>
            <div class="col-lg-2">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
